/* Add a black background color to the top navigation */
.topnav {
  border-radius: 25px;
  background-color: rgb(1, 0, 75);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  border-radius: 10px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  border-radius: 10px;
  background-color: rgb(0, 130, 206);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  border-radius: 10px;
  background-color:  rgb(33, 145, 153);
  color: white;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: rgb(1,0,75);
  color: white;
  font-size: 15px;
  text-align: bottom;
}